.card {
  background: #fff;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px rgba(90, 90, 90, 0.685);
  border-radius: 20px;
}

.card > img {
  height: 170px;
  border-radius: 20px;
}

.card:hover {
  size: 90%;
}
